a{
    color: #008c99;
}
.breadcrumb-section {
    background: #73d5f0;
    padding: 35px 0px;
    margin: 0px 0px 0px;
}
.breadcrumb-section h1{
    font-family: 'Bubblegum Sans', cursive;
    font-weight: normal;
    color: #333334;
    font-size: 32px;
}
.right-breadcrumb i{
    margin: 0 8px;
}
h2 {
    font-size: 30px;
    margin-bottom: 25px;
}
p {
    margin: 0px 0px 10px;
    padding: 0px;
}
.dt-sc-button.small {
    font-size: 14px;
    padding: 10px 14px;
}
.dt-sc-button {
    background: #008c99;
    color: #FFFFFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 10px 0px 0px;
    display: inline-block;
    transition: all .5s ease;
}
.dt-sc-button:hover{
    background: #004c53;
    color: #fff;
}
.carousel img {
    width: 100%;
    height: 300px;
}
.carousel-control-next {
    right: 0;
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-11px, -50%);
    opacity: 1;
}
.carousel-control-prev {
    left: 0;
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    transform: translate(11px, -50%);
    opacity: 1;
}
.item blockquote {
    position: relative;
    color: #fff;
    padding: 15px 56px;
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 0 25px;
    font-size: 14px;
    line-height: inherit;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: #008c99;
}
blockquote q {
    font-style: italic;
}
.item blockquote:after {
    content: "";
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #008c99 transparent transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -15px;
    left: 25px;
}
.item blockquote q:before, .item blockquote q:after {
    font-size: 78px;
    font-family: Georgia,serif;
    font-style: italic;
    position: absolute;
}
.item blockquote q:before {
    top: 35px;
    left: 10px;
}
.item blockquote q:after {
    bottom: -10px;
    right: 25px;
}
.author-thumb {
    display: inline-block;
    margin: 0px 20px 20px 0px;
    width: 100%;
    text-align: center;
    max-height: 101px;
    max-width: 119px;
    position: relative;
    overflow: hidden;
}
.author-thumb .item-mask {
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    z-index: 9;
    clear: both;
}
.author-rating {
    background: url('https://wedesignthemes.com/html/kidslife/images/rating.png') no-repeat;
    width: 77px;
    height: 13px;
    display: inline-block;
}
.author-rating.rating-4 {
    background-position: 0px -20px;
}
.author-right img{
    border: 4px solid #fff;
}
.author-name P{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}
.author-name span{
    margin-bottom: 8px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: #fff;
    color: blue;
    border: none;
    font: inherit;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    height: 25px;
    width: 25px;
    outline: none;
}
.owl-prev span,
.owl-next span {
    font-size: 24px !important;
    position: relative;
    bottom: 1px;
    padding: 0;
}
.owl-theme .owl-nav {
    margin-top: 10px;
    width: auto;
    width: 77px;
    position: absolute;
    top: -70px;
    right: 0;
}
.owl-carousel .owl-item img {
    display: block;
    width: auto;
    margin: 0 auto;
}
