@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* outline: 2px solid red; */
}
body {
    background: #f0f3f3;
    color: #5c5c5c;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 22px;
}
a{
    text-decoration: none;
    color: #008c99;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style: none;
}
.logo-bg{
    background: url('https://wedesignthemes.com/html/kidslife/images/header_bg.png') repeat #ffffff;
}
.my-navbar{
    border-top: 5px solid #ebebeb;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    z-index: 100;
}

.navbar{
    padding: 0 1rem !important;
}
.navbar-brand{
    display: none;
}
.home{
    position: relative;
}
.navbar .social-link{
    height: 40px;
}
.navbar-nav .nav-item{
    border-top: 5px solid transparent;
    margin-top: -5px;
}
.navbar .social-link li{
    display: inline;
    margin-right: 1px;
}
.navbar .social-link li a {
    position: relative;
    border-top: 5px solid;
    display: inline-block;
    width: 50px;
    height: 80px;
    overflow: hidden;
    color: #292929;
    line-height: 75px;
    text-align: center;
    background-color: transparent;
    margin-top: -14px;
    transition: all 1s;
}
.navbar-nav .nav-link{
    color: #43436D !important;
    text-transform: uppercase;
    height: 54px;
    line-height: 32px;
    margin: 10px 0;
    border-right: 2px solid #ececec;
    transition: all .5s ease;
}
.navbar-nav .home{
    border-color: #f27b81;
}
.navbar-nav .home .nav-link:hover,
.navbar-nav .home .nav-link.active1{
    color: #f27b81 !important;
}
.navbar-nav .about{
    border-color: #f7c44e;
}
.navbar-nav .about .nav-link:hover{
    color: #f7c44e !important;
}
.navbar-nav .staffs{
    border-color: #aec158;
}
.navbar-nav .staffs .nav-link:hover{
    color: #aec158 !important;
}
.navbar-nav .services{
    border-color: #fce480;
}
.navbar-nav .services .nav-link:hover{
    color: #fce480 !important;
}
.navbar-nav .portfolio{
    border-color: #4cbcd4;
}
.navbar-nav .portfolio .nav-link:hover{
    color: #4cbcd4 !important;
}
.navbar-nav .pages{
    border-color: #4c7297;
}
.navbar-nav .pages .nav-link:hover{
    color: #4c7297 !important;
}
.navbar-nav .blog{
    border-color: #b0b6fb;
}
.navbar-nav .blog .nav-link:hover{
    color: #b0b6fb !important;
}
.navbar-nav .shop{
    border-color: #dd72b3;
}
.navbar-nav .shop .nav-link:hover{
    color: #dd72b3 !important;
}
.navbar-nav .contact{
    border-color: #fcc6e6;
}
.navbar-nav .contact .nav-link:hover{
    color: #fcc6e6 !important;
}
.navbar .social-link li a.facebook {
    border-color: #35538f;
}
.navbar .social-link li a.youtube {
    border-color: #b70400;
}
.navbar .social-link li a.twitter {
    border-color: #34b3d3;
}
.navbar .social-link li a.gplus {
    border-color: #d53e2b;
}
.navbar .social-link li a:hover.facebook {
    border-color: #35538f;
    background: #35538f;
    color: #ffffff;
}
.navbar .social-link li a:hover.youtube {
    border-color: #b70400;
    background: #b70400;
    color: #ffffff;
}
.navbar .social-link li a:hover.twitter {
    border-color: #34b3d3;
    background: #34b3d3;
    color: #ffffff;
}
.navbar .social-link li a:hover.gplus {
    border-color: #d53e2b;
    background: #d53e2b;
    color: #ffffff;
}


/* hero-section code  */
.hero{
    height: 100vh;
    background: #F0F3F3;
}

/* classes section */
.classes{
    background: #F0F3F3;
}
.class-logo{
    background: #ffffff;
    height: 118px;
    width: 118px;
    overflow: hidden;
    border: 5px solid #ffffff;
    margin: 0 auto;
    margin-bottom: 25px;
}
h4{
    margin-bottom: 20px !important;
    font-size: 20px !important;
    font-family: 'Bubblegum Sans', cursive;
}
h4 a{
    font-family: 'Bubblegum Sans', cursive;
    color: #000;
}

/* play section  */
.bg-light-sky{
    background-color: #008c99;
}
.play-section {
    padding: 78px 0px;
    background-image: url('https://wedesignthemes.com/html/kidslife/images/cloud-bg.png');
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}
.play-section h2{
    color: #ffffff;
    font-family: 'Bubblegum Sans', cursive;
    margin-bottom: 20px;
    font-size: 30px;
}
.add-slider-wrapper {
    background-image: url('https://wedesignthemes.com/html/kidslife/images/add_bg.png');
    padding: 8% 9% 9% 8.8%;
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    top: 108px;
}
/* carousel section */
.carousel img {
    width: 100%;
  }

.play-heading .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background: #ffffff;
    border: 3px solid #ffffff;
  }
.play-heading .icon i{
    color: #5c5c5c;
    font-size: 20px;
    line-height: 45px;
}

/* portfolio section  */
.portfolio-section{
    background: #F0F3F3;
    padding: 78px 0;
}
.portfolio-section h2{
    font-family: 'Bubblegum Sans', cursive;
    font-weight: normal;
    font-size: 30px;
}
.green-line {
    width: 100%;
    background: url('https://wedesignthemes.com/html/kidslife/images/green_title_bg.png') center bottom no-repeat;
    padding: 0px 0px 30px;
    margin: 0px 0px 30px;
    line-height: inherit;
}
.portfolio-img{
    margin: 0 0 15px;
}
.view-all{
    display: inline-block;
    padding: 15px 20px;
    background: #cf571b;
    color: #ffffff;
    margin-top: 10px;
    transition: all .5s ease;
    font-size: 16px;
}
.view-all:hover{
    background: green;
    color: #ffffff;
}
/* blog section  */
.bg-light-pink{
    background-color: #cf571b;
}
.blog-section {
    padding: 78px 0px;
    background-image: url('https://wedesignthemes.com/html/kidslife/images/cloud-bg.png');
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}
 h2{
    font-family: 'Bubblegum Sans', cursive;
    font-weight: normal;
    font-size: 30px;
    color: #ffffff;
}
.blog{
    position: relative;
}
.blog-box{
    padding-left: 106px;
}
.date-details{
    width: 130px;
    text-align: center;
    position: absolute;
    left: 0;
}
.blog-people-logo{
    border: 3px solid #FFFFFF;
    max-width: 56px;
    max-height: 56px;
    border-radius: 50%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    /* border: 3px solid #008c99; */
    background: #a2bc56;
    display: inline-block;
    margin-bottom: 15px;
    overflow: hidden;
}
.date-details .date,
.date-details .comments,
.date-details .img-icon{
    background: #ffffff;
    text-align: left;
    line-height: normal;
    width: auto;
    margin: 0px 0px 10px 0px;
    float: right;
    display: block;
    padding: 0px 18px 0px 16px;
    position: relative;
    clear: both;
}
.date-details .date:before,
.date-details .comments:before,
.date-details .img-icon::before{
    content: "";
    background: url('https://wedesignthemes.com/html/kidslife/images/meta_arrow.png') left center no-repeat;
    width: 15px;
    height: 39px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    top: 0px;
    left: -15px;
}
.date-details .date:after,
.date-details .comments:after,
.date-details .img-icon::after{
    content: "";
    border-style: solid;
    border-width: 5px 8px 0px 0px;
    /* border-color: #008c99 transparent transparent; */
    border-color: #ffffff transparent transparent;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0px;
    position: absolute;
    right: 0px;
    bottom: -5px;
}
.date-details .date span{
    color: #cf571c;
    display: inline-block;
    line-height: 36px;
    font-size: 26px;
    font-weight: bold;
}
.date-details .date p{
    color: #cf571c;
    line-height: 15px;
    font-size: 12px;
    margin: 4px 0px 0px 8px;
    display: inline-block;
}
.date-details .comments{
    background: #ffffff;
    color: #cf571c;
    display: block;
    margin: 0px 0px 10px 0px;
    padding: 0px 18px 0px 16px;
    line-height: 39px;
    position: relative;
    clear: both;
}
.date-details .img-icon{
    background: #FFF;
    color: #cf571c;
    display: inline-block;
    text-align: center;
    text-decoration: inherit;
    position: relative;
    line-height: 39px;
}
.blog-img{
    border: 3px solid #FFFFFF;
    margin-bottom: 30px;
    display: block;
}
.blog-title h3 a{
    font-family: 'Bubblegum Sans', cursive;
    font-weight: normal;
    color: #ffffff;
}
.blog-body p{
    font-size: 16px;
    line-height: 30px;
}
.read-more-btn{
    font-size: 13px;
    background: #FFFFFF;
    color: #cf571c;
    padding: 14px 18px;
    margin-top: 10px;
    border-radius: 2px;
    transition: all .5s ease;
}
.read-more-btn:hover{
    background: #459900;
    color: #ffffff;
}

/* our-staffs section  */
.our-staffs{
    padding: 78px 0;
}
.staff-img{
    display: inline-block;
    width: 100%;
    float: none;
    text-align: center;
    margin: 0 0 15px;
    max-width: 220px;
    max-height: 192px;
    position: relative;
    overflow: hidden;
}
.img-border{
    position: absolute;
    top: 0;
    left: 0;
}
.staff-details h4{
    margin-bottom: 10px !important;
}
.staff-details h6{
    color: gray;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}


/* product section  */
.products{
    padding: 78px 0;
    background: url('https://wedesignthemes.com/html/kidslife/images/product_bg.png') center center repeat #d2d2d2;
}
.product-box{
    background: #ffffff;
    width: 270px;
}
.product-img{
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.product-img .sale{
    position: absolute;
    left: 25px;
    top: 10px;
    z-index: 9;
    font-size: 16px;
    color: #FFF;
    background: #008c99;
    width: 34px;
    height: 50px;
    line-height: 50px;
    float: left;
}
.product-img .sale::before{
    width: 0;
    content: "";
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 13px solid #008c99;
    position: absolute;
    top: 0px;
    left: -13px;
}
.product-img .sale::after{
    width: 0;
    content: "";
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 13px solid #008c99;
    position: absolute;
    top: 0px;
    right: -13px;
}
.product-details{
    padding: 20px;
}
.product-details h5 a{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 100;
}
.product-details span{
    font-weight: bold;
    color: #008c99;
}

/* footer section  */
footer{
    padding: 65px 0 0;
    background: url('https://wedesignthemes.com/html/kidslife/images/footer_bg.png');
    background-color: #ffffff;
    position: relative;
    background-position: center top;
}
footer::before{
    content: '';
    background: url("https://wedesignthemes.com/html/kidslife/images/footer_top_bg.png") center top no-repeat;
    position: absolute;
    top: -46px;
    left: 0;
    width: 100%;
    height: 46px;
    background-size: cover;
}
.footer-section{
    padding-bottom: 20px;
}
footer h3.red-border{
    background: url('https://wedesignthemes.com/html/kidslife/images/red_sketch.png') left bottom no-repeat;
}
footer h3.green-border{
    background: url('https://wedesignthemes.com/html/kidslife/images/green_sketch.png') left bottom no-repeat;
}
footer h3.yellow-border{
    background: url('https://wedesignthemes.com/html/kidslife/images/yellow_sketch.png') left bottom no-repeat;
}
footer h3.blue-border{
    background: url('https://wedesignthemes.com/html/kidslife/images/steelblue_sketch.png') left bottom no-repeat;
}
footer h3.footer-title {
    padding-bottom: 25px;
    font-size: 22px;
    margin-bottom: 25px;
    font-family: 'Bubblegum Sans', cursive;
    color: #2f2f2f;
}
footer .footer-para a{
    color: #008c99;
}
footer .about-kids ul li {
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    display: block;
    position: relative;
    line-height: 20px;
    padding: 7px 0px 7px 20px;
}
footer .about-kids  ul li:before {
    content: "\f00c";
    text-decoration: inherit;
    font-size: 16px;
    position: absolute;
    top: 7px;
    left: 0px;
    font-family: FontAwesome;
    color: #008c99;
}
footer .about-kids ul li a{
    color: #5c5c5c;
    display: block;
}
footer .latest-post ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
footer .latest-post ul li img{
    height: 60px;
    width: 60px;
    border: 2px solid #818181;
}

footer .latest-post ul li h6{
    font-size: 14px ;
}
footer .latest-post ul li h6 a{
    color: #5c5c5c;
}
.footer-contact p i{
    font-size: 18px;
    margin: 2px 10px 0px 0px !important;
    padding-bottom: 12px;
    color: #008c99;
}

footer .subscribe p{
    text-transform: uppercase;
    font-weight: bold;
}
footer .subscribe form p i{
    padding-right: 5px;
}
footer .subscribe form p {
    border: 1px solid #dddddd;
    background-color: transparent;
    border-right: 0px;
    padding: 10px 12px;
}
footer .subscribe form input[type=email] {
    border: none;
    background-color: transparent;
    outline: none;
    width: 110px;
    font-family: inherit;
    font-size: inherit;
    padding: 0px;
    color: #a9a7a7;
}
footer .subscribe form input[type="submit"] {
    padding: 0px 14px;
    line-height: 40px;
    height: 44px;
    border: 1px solid #008c99;
    color: #FFF;
    cursor: pointer;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    background: #008c99;
}
.copyright {
    padding: 15px 0px 10px;
    background: url('https://wedesignthemes.com/html/kidslife/images/footer_strip.jpg') center top repeat-x #008c99;
}
footer .footer-links p {
    background: url('https://wedesignthemes.com/html/kidslife/images/footer_arrow.png') right 12px no-repeat;
    padding: 6px 50px 0px 0px;
}
footer .footer-links ul li{
    margin-left: 20px;
}
footer .footer-links ul li a{
    width: 35px;
    height: 35px;
    display: block;
    line-height: 32px;
    text-align: center;
    padding: 0px;
    background: transparent;
    transition: all .5s ease;
}
footer .footer-links ul li a:hover{
    background: #34b3d3;
}
/* Add your styles here */
.my-dropdown {
    position: relative;
    display: inline-block;
}
.navbar .nav-item{
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    position: relative;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.submenu {
    position: relative;
    display: inline-block;
    width: 100%;
}

.submenu .sub-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.submenu:hover .sub-submenu {
    display: block;
}

@media screen and (min-width: 992px){
.container {
    max-width: 1122px !important;
}
.my-navbar.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%;
}

}
@media screen and (max-width:1005px) and (min-width:992px){
    .navbar-nav .nav-link{
        font-size: 12px;
    }
}
@media screen and (max-width:991px){
    .logo-column{
        flex-direction: column;
    }
    .navbar-brand{
        display: block;
    }
    .navbar-nav .nav-item{
        border-top: none;
        margin-top: 0;
        border-bottom: 1px solid #d4d4d4;
    }
    .navbar-nav .nav-link{
        border-right: none;
        height: auto;
        line-height: auto;
        margin: 0;
    }
    .my-navbar{
        padding: 15px 0;
    }
    .navbar .social-link li a{
        margin-top: 0;
    }
    .copyright-info,
    footer .footer-links p{
        font-size: 12px;
    }
    .product-box{
        margin-bottom: 10px;
    }
    .my-navbar{
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
    }
    .breadcrumb-section{
        margin-top: 78px !important;
    }
}


@media screen and (max-width:767px){
    footer .latest-post ul li{
        justify-content: flex-start;
        gap: 15px;
    }
    .hero{
        height: 50vh;
    }
    footer h3.footer-title{
        text-align: center;
    }
    footer h3 {
        background-position: center bottom !important;
    }
    .logo img{
        max-width: 120px;
    }
    .logo-bg .contact{
        margin-bottom: 30px;
    }
    .logo-bg .contact p{
        margin-bottom: 10px !important;
    }
}